@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /*  neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --max-width-desktop: 1440px;
  --max-width-mobile: 375px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color:var(--Light-gray);
}

/* Global style */

.form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.form-content {
  padding: 2rem 0;
}

.form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.next-btn {
  cursor: pointer;
  background-color: var(--marine-blue);
  color: var(--light-blue);
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  display: inline-block;
}
.goBack-btn {
  text-decoration: none;
  color: var(--Cool-gray);
}
.goBack-btn:hover {
  color: var(--marine-blue);
}
.form-content h2 {
  color: var(--marine-blue);
  font-size: 2rem;
  margin-bottom: 10px;
}

.form-content p {
  color: var(--Cool-gray);
  font-size: 14px;
  margin-bottom: 2rem;
}